body,
html {
  padding: 0px;
  margin: 0px;
}

.road-line {
  stroke-width: 2px;
  stroke: #C6E681;
  z-index: 30;
}

.road-line-back {
  z-index: 20;
  stroke-width: 15px;
  /* stroke: #1C5B88; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid #036974;

  animation-name: animate-slide-down;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

}


.container,
.bottom-area {
  animation-name: animate-slide-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}


@keyframes animate-slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-slide-down {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.header-button {


  background-color: transparent;
  border-radius: 0px 0px 5px 5px;

  color: black;
  cursor: pointer;

  border: 2px solid #036974;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  text-decoration: none;
  color: inherit;
}

.header-button.outline {
  &:hover {
    background-color: #036974;
    color: white;
  }
}

.header-button.filled {
  background-color: #036974;
  color: white;

  &:hover {
    background-color: #005148;
  }
}

.text-container {
  margin-left: 32px;
  opacity: 0;
  animation-name: animate-fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.text-container h1 {
  text-transform: uppercase;
  color: #005148;
}

.text-container p {

  width: 500px;
  color: #052E3B;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

}

#svg-container {
  position: relative;
  overflow-x: scroll;
}

.bg-bottom {
  fill: #E5EFEE;
  background-color: #E5EFEE;
}


.bottom-area {
  background-color: #E5EFEE;
  left: 0px;
  right: 0px;
  position: absolute;
  top: 750px;
  bottom: 0px;
}

.container {
  position: absolute;
  top: 250px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: scroll;
}

.bg-top {
  background-color: #FFF9F3;
}

.body-container {
  width: 100%;
}