body,
html {
  padding: 0px;
  margin: 0px;
}

.road-line {
  stroke-width: 2px;
  stroke: #C6E681;
  z-index: 30;
}

.road-line-back {
  z-index: 20;
  stroke-width: 15px;
  /* stroke: #1C5B88; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 16px;
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-button {
  height: 40px;

  text-transform: uppercase;

  background-color: transparent;
  border-radius: 4px;

  color: black;
  cursor: pointer;

  border: 2px solid #036974;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.header-button:first {
  margin-right: 10px
}

.header-button.filled {
  background-color: #036974;
  color: white;
}

.text-container {
  margin-left: 32px
}

.text-container h1 {
  text-transform: uppercase;
  color: #005148;
}

.text-container p {

  width: 500px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  color: #052E3B;
}

#svg-container {
  position: relative;
  overflow-x: scroll;
}

.bg-bottom {
  fill: #E5EFEE;
  background-color: #E5EFEE;
}


.bottom-area {
  background-color: #E5EFEE;
  left: 0px;
  right: 0px;
  position: absolute;
  top: 750px;
  bottom: 0px;
}

.container {
  position: absolute;
  top: 250px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: scroll;
}

.bg-top {
  background-color: #FFF9F3;
}

.body-container {
  width: 100%;
}